<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>

    <a href="/articles">Articles</a>

    <h1>Hi you are in !</h1>
    <!--Print data from user object-->
    <% for(let property in user) {%> 
        <strong><%= property %></strong>:
        <%= user[property]; %></br>
    <%}%>
</body>
</html>