<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

    <form method="POST" action="/login">
        <input type="email" name="email" placeholder="Email" value="admin@gmail.com">
        <input type="password" name="password" placeholder="Password" value="root123">

        <input type="submit" name="submit" value="Login">
    </form>

</body>
</html>