<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Article page</title>
</head>
<body>

    <h1>Single article page !</h1>
    <!--Print data from user object-->
    <strong><%= article['title']; %></strong></br>
    <p><%= article['description']; %></p></br>

</body>
</html>